<!-- HEADER -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Choose OBD Device
    </ion-title>
  </ion-toolbar>
</ion-header>
<!-- HEADER -->

<ion-content [fullscreen]="true">
  <app-clickable-list [items]="devices | async" [loadingItemId]="loadingConnectionForDeviceId" (itemSelection)="selectDevice($event)">
  </app-clickable-list>
</ion-content>