<ion-list lines="full">
  <ion-item *ngFor="let item of items" [button]="loadingItemId !== item.id" (click)="selectItem(item)">
    <ion-label>  {{ item.name }} </ion-label> <ion-spinner *ngIf="loadingItemId === item.id"></ion-spinner>
  </ion-item>
</ion-list>