<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> CHOOSE PARAMETER TO TEST </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="checker">
    {{ parameter }}: {{ currentValue }}
  </div>
</ion-content>