<!-- HEADER -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      TEST BLUETOOTH
    </ion-title>
  </ion-toolbar>
</ion-header>
<!-- HEADER -->

<ion-content [fullscreen]="true">

  <!-- CHIP FOR CHECKING IF THE PLATFORM IS READY -->
  <ion-chip [color]="isPlatformReady ? 'success' : 'danger'">
    <ion-label [color]="isPlatformReady ? 'success' : 'danger'">Platform ready: {{ isPlatformReady }} </ion-label>
  </ion-chip>

  <!-- CHIP FOR CHECKING IF THE DEVICE IS CONNECTED WITH ANOTHER DEVICE -->
  <ion-chip [color]="(isBtConnected$ | async) ? 'success' : 'danger'">
    <ion-label [color]="(isBtConnected$ | async) ? 'success' : 'danger'">Connected: {{ isBtConnected$ | async }}
    </ion-label>
  </ion-chip>

  <!-- CHIP FOR CHECKING IF THE DEVICE IS CONNECTED WITH ANOTHER DEVICE -->
  <ion-chip [color]="(isBtEnabled$ | async) ? 'success' : 'danger'">
    <ion-label [color]="(isBtEnabled$ | async) ? 'success' : 'danger'">Bt active: {{ isBtEnabled$ | async }}
    </ion-label>
  </ion-chip>

  <ion-accordion-group>

    <!-- LIST OF ALREADY PAIRED DEVICES -->
    <ion-accordion value="bondedDevices">
      <ion-item slot="header">
        <ion-label>Bonded Devices</ion-label>
      </ion-item>

      <ion-list slot="content">
        <ion-item *ngFor="let device of list$ | async" (click)="selectDevice(device)">
          <ion-label>{{ device.name }} </ion-label>
        </ion-item>
      </ion-list>
    </ion-accordion>

    <!-- LIST OF UNPAIRED DEVICES -->
    <!-- <ion-accordion value="bondedDevices">
      <ion-item slot="header">
        <ion-label>Bonded Devices</ion-label>
      </ion-item>

      <ion-list slot="content">
        <ion-item *ngFor="let device of list$ | async">
          <ion-label>{{ device.name }} </ion-label>
        </ion-item>
      </ion-list>
    </ion-accordion> -->

  </ion-accordion-group>

  IS LOADING UNPAIRED ? {{ loadingUnpaired }}
  {{ listOfUnpaired | json }}
  <br>
  <br>
  <br>
  CHECKING RECEIVED DATA {{ (receivedData$ | async) | json }}
  <br>
  <br>
  <br>
  debugg: {{debug}}
  <br>
  <br>
  <br>
  debugg: {{debug | json}}
</ion-content>