<!-- HEADER -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      CHOOSE PARAMETER TO TEST
    </ion-title>
  </ion-toolbar>
</ion-header>
<!-- HEADER -->

<ion-content [fullscreen]="true">
  <app-clickable-list [items]="exampleItems" (itemSelection)="selectCalibrationOption($event)">
  </app-clickable-list>
</ion-content>

<ion-modal [isOpen]="isModalOpen" [canDismiss]="true" >
  <ng-template>
    <app-calibration-checker [parameter]="selectedParameter"></app-calibration-checker>
  </ng-template>
</ion-modal>